<h1>{{title}}</h1>
<b><a href="quests/createquest">New Quest</a></b>
<h1>Quests</h1>

<b>Quest List</b>

{{#if quests}}
  <hr>
  {{#each quests}}
    <a href="{{this}}">{{this}}</a><br/>
  {{/each}}
{{/if}}